<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/first.css'%}">
    <title></title>
  </head>
  <body>
    <div class="container" align="center">
      <h1>student pradeep</h1>
      <form method="POST" action="/firstikkada/thank/">
        {{form.as_p}}
        {%csrf_token%}
        <input type="submit" class="btn btn-primary" value="sumbit">
      </form>


  </body>
</html>
